*
{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.modal-content
{

    height: 450px;
    background: white;
    border-radius: 3px;
    box-shadow: 0 2px 12px 0 rgba(0,0,0,.4);
}
.form-box
{   
    
    width: 350px;
    height: 400px;
    position: relative;
    margin: 6% auto;
    background: #fff;
    padding: 5px;
    border-radius: 30px;
    overflow: hidden;
}


.input-group
{
    top: 1px;
    position: absolute;
    width: 180px;
    transition: .5s;

}
.input-field
{
    width: 100%;
    padding: 5px 0;
    margin: 15px 0;
    border-left: 0;
    border-top: 0;
    border-right: 0;
    border-bottom: 1px solid #999;
    outline: none;
    background: transparent;
}
.submit-btn
{
    width:70%;
    padding: 10px 10px;
    margin-bottom: 50px;
    cursor: pointer;
    display: block;
    margin: auto;
    font-size: 15px;
    background:#ea7dc7;
    border: 0;
    outline: none;
    border-radius: 30px;
}


img
{
    width: 40%;
    height: 40%;
    border-radius: 4px;
    padding: 10px;
    margin-left: 100px;
}
.radio1 .checkmark:after {
 	top: 9px;
	left: 9px;
	width: 8px;
	height: 8px;
	border-radius: 50%;
	background: white;
}
.radio1 {
  display: block;
  margin-bottom: 1px;
  position: relative;
  margin: 5px;
  left: 50px;
  word-spacing: 15px;
  font-weight: bold;
  cursor: pointer;
  font-size: 20px;
 
}
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
  border-radius: 50%;
  display: none;
  
}
.radio1 input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
  }
  
.radio2 .checkmark:after {
 	top: 9px;
	left: 9px;
	width: 8px;
	height: 8px;
	border-radius: 50%;
	background: white;
}
.radio2 {
  display: block;
  margin-bottom: 1px;
  position: relative;
  margin: 5px;
  left: 50px;
  word-spacing: 15px;
  font-weight: bold;
  cursor: pointer;
  font-size: 20px;
 
}
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
  border-radius: 50%;
  display: none;
  
}
.radio2 input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
  }
.radio3 .checkmark:after {
 	top: 9px;
	left: 9px;
	width: 8px;
	height: 8px;
	border-radius: 50%;
	background: white;
}
.radio3 {
  display: block;
  margin-bottom: 1px;
  position: relative;
  margin: 5px;
  left: 50px;
  word-spacing: 15px;
  font-weight: bold;
  cursor: pointer;
  font-size: 20px;
 
}
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
  border-radius: 50%;
  display: none;
  
}
.radio3 input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
  }
  
.radio1:hover {
  color: #ea7dc7;
  text-decoration: underline;
}

.radio2:hover {
  color: #ea7dc7;
  text-decoration: underline;
}

.radio3:hover {
  color: #ea7dc7;
  text-decoration: underline;
}



.container{
  display: flex;
}