@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');


body{
  overflow-x: hidden;
}
.background-nav{
    background-color: #ea7dc7;
    border:none;
}

*{
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}
body{
  font-family: montserrat;
}
nav{
  background: #ea7dc7;
  height: 120px;
  width: 100%;
}
label.logo{
  font-family:'poppins' ;
  color: white;
  font-size: 30px;
  line-height: 80px;
  padding: 0 100px;
  font-weight: bold;
}
nav ul{
  float: right;
  margin-right: 20px;
}
nav ul li{
  display: inline-block;
  line-height: 80px;
  margin: 0 5px;
}
nav ul li a{
  color: white;
  font-size: 17px;
  padding: 7px 13px;
  border-radius: 3px;
  text-transform: uppercase;
  font-family:'poppins' ;
  text-decoration: none !important;
}
a.active,a:hover{
  background: #f093d2;
  transition: .5s ease;
  color: #fff !important;
  text-decoration: none;
}
.checkbtn{
  font-size: 30px;
  color: white;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}
#check{
  display: none;
}
@media (max-width: 952px){
  label.logo{
    font-size: 15px;
    padding-left: 30px;
  }
  nav ul li a{
    font-size: 16px;
  }
}
@media (max-width: 858px){
  .checkbtn{
    display: block;
  }
  ul{
    position: fixed;
    width: 100%;
    height: 2000px;
    background: #2c3e50;
    top: 70px;
    left: -100%;
    text-align: center;
    transition: all .5s ease;
    z-index: 999;
    
  }
  nav ul li{
    display: block;
    margin: 50px 0;
    line-height: 30px;
  }
  nav ul li a{
    font-size: 20px;
  }
  a:hover,a.active{
    background: none;
    color: #ea7dc7;
  }
  #check:checked ~ ul{
    left: 0;
  }
}


.header-content h3{
  padding: 1rem;
    font-size: 6rem;
    color: #fff;
    font-weight: 700;
    text-align: left;
    margin-left: 6rem;
    letter-spacing: 10px;
    font-family: 'poppins';
    line-height: 55px;
    border-left:3px solid #fff ;
}
.header-content span{
  color: #fc5185;
}

.about-title{
  font-size: 1.5rem;
  font-family: 'poppins';
  color: #363636;
}

.about-flex{
  max-width: 90%;
  display: flex;
  align-items: center;
  text-align: center;
 justify-content: center;
 flex-wrap: wrap;



}
.about-flex img{
  width: 350px;
  object-fit: cover;
  max-width: 100%;
 flex: 1;
 margin: 1rem;
 border-radius: 20px;
}
.img-content{
flex: 1;
text-align: left;
font-size: 1.8rem;
font-family: 'poppins';
margin: 1rem;

}
.img-content h3{
  font-size: 3rem;
  font-weight: 600;
  color: rgb(255, 92, 203);
  text-transform: uppercase;
}

.call:hover {
  background: #ea7dc7;
  color: #fff;
 
}
.card-flex{
  margin: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.call{
  transition: 0.3s ease-in;
  padding: 2rem;
  border-radius: 5px;
  width: 400px;
  height: 500px;
  cursor: pointer;
  
}
.fb-button{
  width: 200px;
  height: 50px;
  background: #303a52;
  color: #fff;
  text-transform: uppercase;
  border-radius: 5px;
  font-size: 12px;
  transition: .3s ease-in;
  outline: none;
  border: none;
}
.fb-button:hover{
opacity: .8;

}
a{
  text-decoration: none;
}

.register-btn{
  background: #ea7dc7;
  color: #fff !important;
  padding:10px 20px;
  font-size: 13px;
  border-radius: 5px;
  font-family: 'poppins';
  outline: none;
  border: none;
  letter-spacing: 2px;
  font-weight: 500;
  cursor: pointer;
}


.contactus{
   position: relative;
  min-height: 100vh;
  padding: 50px 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-image: url(/bgg.jpg);
}


.containers {
  max-width: 100%;
  position: relative;
  width: 100%;
  min-height: 100vh;
  padding: 2rem;
  background-color: #fafafa;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.form {
  width: 100%;
  max-width: 820px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  overflow: hidden;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.contact-form {
  background-color: #ea7dc7;
  position: relative;
}
.text p{
  font-family: 'poppins';
  color: #303a52;
}
.circle {
  border-radius: 50%;
  background: linear-gradient(135deg, transparent 20%, #ea7dc7);
  position: absolute;
}

.circle.one {
  width: 130px;
  height: 130px;
  top: 130px;
  right: -40px;
}

.circle.two {
  width: 80px;
  height: 80px;
  top: 10px;
  right: 30px;
}

.contact-form:before {
  content: "";
  position: absolute;
  width: 26px;
  height: 26px;
  background-color: #ea7dc7;
  transform: rotate(45deg);
  top: 50px;
  left: -13px;
}

form {
  padding: 2.3rem 2.2rem;
  z-index: 10;
  overflow: hidden;
  position: relative;
}

.title {
  color: #fff;
  font-weight: 500;
  font-size:2rem;
  line-height: 1;
  margin-bottom: 0.7rem;
  font-family: "Raleway";
  font-weight: 600;
}

.input-container {
  position: relative;
  margin: 1rem 0;
}

.semi-title{
  color: #363636;
  font-weight: 500;
  font-size:2rem;
  line-height: 1;
  margin-bottom: 0.7rem;
  font-family:'Raleway';
  text-align: left;
  
}

.input {
  width: 100%;
  outline: none;
  border: 2px solid #fafafa;
  background: none;
  padding: 0.6rem 1.2rem;
  color: #fff;
  font-weight: 500;
  font-size: 1.4rem;
  letter-spacing: 0.5px;
  border-radius: 25px;
  transition: 0.3s;
  font-family: 'poppins';
}

textarea.input {
  padding: 0.8rem 1.2rem;
  min-height: 150px;
  border-radius: 22px;
  resize: none;
  overflow-y: auto;
}

.input-container label {
  position: absolute;
  top: 50%;
  left: 15px;
  transform: translateY(-50%);
  padding: 0 0.4rem;
  color: #fafafa;
  font-size: 1.4rem;
  font-weight: 400;
  pointer-events: none;
  z-index: 1000;
  transition: 0.5s;
  font-family: 'poppins';
}

.input-container.textarea label {
  top: 1rem;
  transform: translateY(0);
}

.btn {
  padding: 0.6rem 1.3rem;
  background-color: #fff;
  border: 2px solid #fafafa;
  font-size: 1.4rem;
  color: #ea7dc7;
  line-height: 1;
  border-radius: 25px;
  outline: none;
  cursor: pointer;
  transition:all 0.3s ease-in;
  margin: 0;
  font-family: 'poppins';
}

.btn:hover {
  background-color: transparent;
  color: #fff;
}

.input-container span {
  position: absolute;
  top: 0;
  left: 25px;
  transform: translateY(-50%);
  font-size: 1rem;
  padding: 0 0.4rem;
  color: transparent;
  pointer-events: none;
  z-index: 500;
  font-family: 'poppins';
}

.input-container span:before,
.input-container span:after {
  content: "";
  position: absolute;
  width: 10%;
  opacity: 0;
  transition: 0.3s;
  height: 5px;
  background-color: #ea7dc7;
  top: 50%;
  transform: translateY(-50%);
}

.input-container span:before {
  left: 50%;
}

.input-container span:after {
  right: 50%;
}

.input-container.focus label {
  top: 0;
  transform: translateY(-50%);
  left: 25px;
  font-size: 0.8rem;
}

.input-container.focus span:before,
.input-container.focus span:after {
  width: 50%;
  opacity: 1;
}

.contact-info {
  padding: 2.3rem 2.2rem;
  position: relative;
}

.contact-info .title {
  color: #ea7dc7;
}

.text {
  color: #333;
  margin: 1.5rem 0 2rem 0;
  font-family: 'poppins';
  font-size: 1.3rem;
}

.information {
  display: flex;
  color: rgb(122, 122, 122);
  margin: 0.7rem 0;
  align-items: center;
  font-size: 1.3rem;
  font-family: 'poppins';
  text-align: justify;
  
}

.icon {
  width: 28px;
  margin-right: 0.7rem;
}

.social-media {
  padding: 2rem 0 0 0;
}

.social-media p {
  color: #333;
  font-family: 'poppins';
}

.social-icons {
  display: flex;
  margin-top: 0.5rem;
}

.social-icons a {
  width: 35px;
  height: 35px;
  border-radius: 5px;
  background: linear-gradient(45deg, #ea7dc7, #f79cda);
  color: #fff;
  text-align: center;
  line-height: 35px;
  margin-right: 0.5rem;
  transition: 0.3s;
}

.social-icons a:hover {
  transform: scale(1.05);
}

.contact-info:before {
  content: "";
  position: absolute;
  width: 110px;
  height: 100px;
  border: 22px solid #ea7dc7;
  border-radius: 50%;
  bottom: -77px;
  right: 50px;
  opacity: 0.3;
}

.big-circle {
  position: absolute;
  width: 500px;
  height: 500px;
  border-radius: 50%;
  background: linear-gradient(to bottom, #ea7dc7, #e46ebe);
  bottom: 50%;
  right: 50%;
  transform: translate(-40%, 38%);
}

.big-circle:after {
  content: "";
  position: absolute;
  width: 360px;
  height: 360px;
  background-color: #fafafa;
  border-radius: 50%;
  top: calc(50% - 180px);
  left: calc(50% - 180px);
}

.square {
  position: absolute;
  height: 400px;
  top: 50%;
  left: 50%;
  transform: translate(181%, 11%);
  opacity: 0.2;
}

@media (max-width: 850px) {
  .form {
    grid-template-columns: 1fr;
  }

  .contact-info:before {
    bottom: initial;
    top: -75px;
    right: 65px;
    transform: scale(0.95);
  }

  .contact-form:before {
    top: -13px;
    left: initial;
    right: 70px;
  }

  .square {
    transform: translate(140%, 43%);
    height: 350px;
  }

  .big-circle {
    bottom: 75%;
    transform: scale(0.9) translate(-40%, 30%);
    right: 50%;
  }

  .text {
    margin: 1rem 0 1.5rem 0;
  }

  .social-media {
    padding: 1.5rem 0 0 0;
  }
}

@media (max-width: 480px) {
  .container {
    padding: 1.5rem;
  }

  .contact-info:before {
    display: none;
  }

  .square,
  .big-circle {
    display: none;
  }

  form,
  .contact-info {
    padding: 1.7rem 1.6rem;
  }

  .text,
  .information,
  .social-media p {
    font-size: 1.4rem;
  }

  .title {
    font-size: 1.3rem;
  }

  .social-icons a {
    width: 30px;
    height: 30px;
    line-height: 30px;
  }

  .icon {
    width: 23px;
  }

  .input {
    padding: 0.45rem 1.2rem;
  }

  .btn {
    padding: 0.45rem 1.2rem;
  }
}

.services{
  width: 650px;
  margin: auto;
  max-width: 100%;
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
 
}

.services .services-content{
  
  text-align: center;
  color: #616161;
  margin:2rem 1rem;
  text-align: left;
  flex: 1;
  
}
.services .services-content h3{
  font-size: 2.4rem;
  text-align: center;
  margin: 2REM;
  font-weight: 600;
  color: #838383;
  letter-spacing: 5px;
  font-family: 'raleway';
}
.services .services-content p{
  font-size: 2rem;
  color: #525252;
  line-height: 30px;
  word-spacing: 6px;
  font-weight: 'poppins';
}
.services .content-card{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1000px;
  margin: auto;
  flex-wrap: wrap;
  max-width: 100%;
}
.content-card .content-cards{
width: 300px;
margin: 2rem;
}


.wrapper{
  max-width: 1090px;
  width: 100%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.wrapper .table{
  background: #fff;
  width: calc(33% - 20px);
  padding: 30px 30px;
  position: relative;
  box-shadow: 0 5px 10px rgba(0,0,0,0.1);
  margin: 1rem;
}
.table .price-section{
  display: flex;
  justify-content: center;
}
.table .price-area{
  height: 120px;
  width: 120px;
  border-radius: 50%;
  padding: 2px;
}
.price-area .inner-area{
  height: 100%;
  width: 100%;
  border-radius: 50%;
  border: 3px solid #fff;
  line-height: 117px;
  text-align: center;
  color: #fff;
  position: relative;
}
.price-area .inner-area .text{
  font-size: 25px;
  font-weight: 400;
  position: absolute;
  top: -10px;
  left: 17px;
}
.price-area .inner-area .price{
  font-size: 45px;
  font-weight: 500;
  margin-left: 16px;
}
.table .package-name{
  width: 100%;
  height: 2px;
  margin: 35px 0;
  position: relative;
}
.table .package-name::before{
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 25px;
  font-weight: 500;
  background: #fff;
  padding: 0 15px;
  transform: translate(-50%, -50%);
}
.table .features li{
  margin-bottom: 15px;
  list-style: none;
  display: flex;
  justify-content: space-between;
}
.features li .list-name{
  font-size: 17px;
  font-weight: 400;
  font-family: 'poppins';
  color: #838383;
}
.features li .icon{
  font-size: 15px;
}
.features li .icon.check{
  color: #2db94d;
}
.features li .icon.cross{
  color: #cd3241;
}
.table .btn{
  width: 100%;
  display: flex;
  margin-top: 35px;
  justify-content: center;
}
.table .btn button{
  width: 80%;
  height: 50px;
  color: #fff;
  font-size: 15px;
  font-weight: 500;
  border: none;
  outline: none;
  border-radius: 25px;
  cursor: pointer;
  transition: all 0.3s ease;
  letter-spacing: 1px;
}
.table .btn button:hover{
  border-radius: 5px;
}
.basic .features li::selection{
  background: #ffd861;
}
.basic ::selection,
.basic .price-area,
.basic .inner-area{
  background: #ffd861;
}
.basic .btn button{
 
  background:#833af8;
  color: #ffffff;
}
.basic .btn button:hover{
  background: #a26bfa;
  color: #fff;
}
.premium ::selection,
.premium .price-area,
.premium .inner-area,
.premium .btn button{
  background: #833af8;
}
.premium .btn button:hover{
  background: #833af8;
}
.ultimate ::selection,
.ultimate .price-area,
.ultimate .inner-area{
  background: #43ef8b;
}
.ultimate .btn button{
 
  color: #ffffff;
  background: #833af8;
}
.ultimate .btn button:hover{
  background:  #a26bfa;
  color: #fff;
}
.basic .package-name{
  color: #646464;
  font-size:1.6rem;
  text-align: center;
  font-family: 'raleway';
  text-transform: uppercase;
  font-weight: 600;
}
.premium .package-name{
 
  color: #646464;
  font-size:1.6rem;
  text-align: center;
  font-family: 'raleway';
  text-transform: uppercase;
  font-weight: 600;
}
.ultimate .package-name{
  
  color: #646464;
  font-size:1.6rem;
  text-align: center;
  font-family: 'raleway';
  text-transform: uppercase;
  font-weight: 600;
}

@media (max-width: 1020px) {
  .wrapper .table{
    width: calc(50% - 20px);
    margin-bottom: 40px;
  }
}
@media (max-width: 698px) {
  .wrapper .table{
    width: 100%;
  }
}
::selection{
  color: #fff;
}
.table .ribbon{
  width: 150px;
  height: 150px;
  position: absolute;
  top: -10px;
  left: -10px;
  overflow: hidden;
}
.table .ribbon::before,
.table .ribbon::after{
  position: absolute;
  content: "";
  z-index: -1;
  display: block;
  border: 7px solid #4606ac;
  border-top-color: transparent;
  border-left-color: transparent;
}
.table .ribbon::before{
  top: 0px;
  right: 15px;
}
.table .ribbon::after{
  bottom: 15px;
  left: 0px;
}
.table .ribbon span{
  position: absolute;
  top: 30px;
  right: 0;
  transform: rotate(-45deg);
  width: 200px;
  background: #a26bfa;
  padding: 10px 0;
  color: #fff;
  text-align: center;
  font-size: 17px;
  text-transform: uppercase;
  box-shadow: 0 5px 10px rgba(0,0,0,0.12);
}

.wrapper-body{
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding: 20px;
  background: #f5b5fc;
  max-width: 100%;
}

.img-fluid{
width: 500px;
max-width: 100%;
}
.about-title p{
  color: #575757;
  font-family: sans-serif;
}

footer{
 
  background: #111;
  height: auto;
  width: 100vw;
  font-family: "Open Sans";
  padding-top: 40px;
  color: #fff;
}
.footer-content{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}
.footer-content h3{
  font-size: 1.8rem;
  font-weight: 400;
  text-transform: capitalize;
  line-height: 3rem;
  letter-spacing: 2px;
}
.footer-content p{
  max-width: 500px;
  margin: 10px auto;
  line-height: 28px;
  font-size: 12px;
  color: #868686;
  font-family: 'poppins';
}
.socials{
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem 0 3rem 0;
}
.socials li{
  margin: 0 10px;
}
.socials a{
  text-decoration: none;
  color: #fff;
}
.socials a i{
  font-size: 1.1rem;
  transition: color .4s ease;

}
.socials a:hover i{
  color: aqua;
}

.footer-bottom{
  background: #000;
  width: 100vw;
  padding: 20px 0;
  text-align: center;
}
.footer-bottom p{
  font-size: 14px;
  word-spacing: 2px;
  text-transform: capitalize;
}
.footer-bottom span{
  text-transform: uppercase;
  opacity: .4;
  font-weight: 200;
}

@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');



.grid{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  max-width: 100%;
}

.grid-item {
  background-color: #fff;
  border-radius: 10px 10px  ;
  overflow: hidden;
  box-shadow: 0 3rem 6rem rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: 0.2s;
  margin: 2REM;
  width: 350px;
  max-width: 100%;
  
}

.grid-item:hover {
  transform: translateY(-0.5%);
  box-shadow: 0 4rem 8rem rgba(0, 0, 0, 0.5);
}

.card-img {
  display: block;
  width: 100%;
  height: 15rem;
  object-fit: cover;
}

.card-content {
  padding: 2rem;
  height: 350px;
}

.card-header {
  font-size: 1.2rem;
  font-weight: 500;
  color: #ff10eb9d;
  margin-bottom: 1.5rem;
  font-weight: 600;
}

.card-text {
  font-size: 1rem;
  letter-spacing: 0.1rem;
  line-height: 1.7;
  color: #3d3d3d;
  margin-bottom: 2.5rem;
}

.card-btn {
  display: block;
  width: 100%;
  padding: 1.5rem;
  font-size: 1rem;
  text-align: center;
  color: #ba53de;
  background-color: #ffcef3;
  border: none;
  border-radius: 0.4rem;
  transition: 0.2s;
  cursor: pointer;
  letter-spacing: 0.1rem;
}

.card-btn span {
  margin-left: 1rem;
  transition: 0.2s;
}

.card-btn:hover,
.card-btn:active {
  background-color: #ffcef3ce;
}

.card-btn:hover span,
.card-btn:active span {
  margin-left: 1.5rem;
}


.radio__input{
  display: none;
}
.radio__label{
  padding: 1rem;
  margin: 1rem;
  font-family: 'poppins', sans-serif;
  font-size: 1.4rem;
  color: #818181;
  letter-spacing: 1.5px;
  cursor: pointer;
  transition: color 0.3s ease-in-out;
}
.radio__input:checked + .radio__label{
    border-bottom: 3px solid rgb(245, 81, 171);
    color: rgb(245, 81, 171);
}

.radio_wrapper{
  height: 100px;
  width: 100%;
  max-width: 100%;
}

.header{
  height: 100vh;
  display: flex;
  justify-content: center;align-items: center;
  overflow: hidden;
  width: 100%;
  max-width: 100%;
}
.texts{
  position: absolute;
  color: #fff;
  line-height: 1.5;
  text-align: center;
}
.texts h1{
 color: #fff;
 font-size: 3rem;
}
.button{
  background-color: #fff;
  margin: 2rem;
  border-radius: 40px;
  color: #18266c;
  font-size: 1.2rem;
  padding: .7em 1.2em;
  text-decoration: none;
  box-sizing: border-box;
  cursor: pointer;
}
.button:hover{
  background-color: violet;
}
.overlay{
  position: absolute;
  height: 100vh;
  width: 100vw;
  background-color: #18266c;
  opacity: 0.7;

}

@media only screen and (max-width: 450px){
  .header .banner video{
     
     height: 300px;
  }
}