@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');


*{
    border: 0;
    padding: 0;
    margin: 0;
}

.background-nav{
    background-color: #ea7dc7;
    border:none;
}

*{
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}
body{
  font-family: montserrat;
}
nav{
  background: #ea7dc7;
  height: 120px;
  width: 100%;
}
label.logo{
  font-family:'poppins' ;
  color: white;
  font-size: 30px;
  line-height: 80px;
  padding: 0 100px;
  font-weight: bold;
}
nav ul{
  float: right;
  margin-right: 20px;
}
nav ul li{
  display: inline-block;
  line-height: 80px;
  margin: 0 5px;
}
nav ul li a{
  color: white;
  font-size: 17px;
  padding: 7px 13px;
  border-radius: 3px;
  text-transform: uppercase;
  font-family:'poppins' ;
}
a.active,a:hover{
  background: #f093d2;
  transition: .5s ease;
  color: #fff;
}
.checkbtn{
  font-size: 30px;
  color: white;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}
#check{
  display: none;
}
@media (max-width: 952px){
  label.logo{
    font-size: 20px;
    padding-left: 50px;
  }
  nav ul li a{
    font-size: 16px;
  }
}
@media (max-width: 858px){
  .checkbtn{
    display: block;
  }
  ul{
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #2c3e50;
    top: 80px;
    left: -100%;
    text-align: center;
    transition: all .5s;
  }
  nav ul li{
    display: block;
    margin: 50px 0;
    line-height: 30px;
  }
  nav ul li a{
    font-size: 20px;
  }
  a:hover,a.active{
    background: none;
    color: #ea7dc7;
  }
  #check:checked ~ ul{
    left: 0;
  }
}
section{
  background-size: cover;
  height: calc(100vh - 80px);
}

.header-content h3{
  padding: 1rem;
    font-size: 6rem;
    color: #fff;
    font-weight: 700;
    text-align: left;
    margin-left: 6rem;
    letter-spacing: 10px;
    font-family: 'poppins';
    line-height: 55px;
    border-left:3px solid #fff ;
}
.header-content span{
  color: #fc5185;
}

.about-title{
  font-size: 1.5rem;
  font-family: 'poppins';
  color: #363636;
}

.about-flex{
  max-width: 90%;
  display: flex;
  align-items: center;
  text-align: center;
 justify-content: center;
 flex-wrap: wrap;


}
.about-flex img{
  width: 350px;
  object-fit: contain;
  max-width: 100%;
 flex: 1;
 margin: 1rem;
 border-radius: 20px;
}
.img-content{
flex: 1;
text-align: left;
font-size: 1.8rem;
font-family: 'poppins';
margin: 1rem;

}
.img-content h3{
  font-size: 3rem;
  font-weight: 600;
  color: rgb(255, 92, 203);
  text-transform: uppercase;
}

.callouts:hover{
  background: #ea7dc7;
  color: #fff;
 
}
.call{
  transition: 0.3s ease-in;
  padding: 2rem;
  border-radius: 10px;
  
}
.fb-button{
  width: 200px;
  height: 50px;
  background: #303a52;
  color: #fff;
  text-transform: uppercase;
  border-radius: 5px;
  font-size: 12px;
  transition: .3s ease-in;
  outline: none;
  border: none;
}
.fb-button:hover{
opacity: .8;

}

.register-btn{
  background: #ea7dc7;
  color: #fff;
  padding:10px 20px;
  font-size: 13px;
  border-radius: 5px;
  font-family: 'poppins';
  outline: none;
  border: none;
  letter-spacing: 2px;
  font-weight: 500;
  cursor: pointer;
}


.contactus{
   position: relative;
  min-height: 100vh;
  padding: 50px 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-image: url(/bgg.jpg);
}


.containers {
  position: relative;
  width: 100%;
  min-height: 100vh;
  padding: 2rem;
  background-color: #fafafa;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.form {
  width: 100%;
  max-width: 820px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  overflow: hidden;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.contact-form {
  background-color: #ea7dc7;
  position: relative;
}
.text p{
  font-family: 'poppins';
  color: #303a52;
}
.circle {
  border-radius: 50%;
  background: linear-gradient(135deg, transparent 20%, #ea7dc7);
  position: absolute;
}

.circle.one {
  width: 130px;
  height: 130px;
  top: 130px;
  right: -40px;
}

.circle.two {
  width: 80px;
  height: 80px;
  top: 10px;
  right: 30px;
}

.contact-form:before {
  content: "";
  position: absolute;
  width: 26px;
  height: 26px;
  background-color: #ea7dc7;
  transform: rotate(45deg);
  top: 50px;
  left: -13px;
}

form {
  padding: 2.3rem 2.2rem;
  z-index: 10;
  overflow: hidden;
  position: relative;
}

.title {
  color: #fff;
  font-weight: 500;
  font-size:2rem;
  line-height: 1;
  margin-bottom: 0.7rem;
  font-family: "Raleway";
  font-weight: 600;
}

.input-container {
  position: relative;
  margin: 1rem 0;
}

.input {
  width: 100%;
  outline: none;
  border: 2px solid #fafafa;
  background: none;
  padding: 0.6rem 1.2rem;
  color: #fff;
  font-weight: 500;
  font-size: 1.4rem;
  letter-spacing: 0.5px;
  border-radius: 25px;
  transition: 0.3s;
  font-family: 'poppins';
}

textarea.input {
  padding: 0.8rem 1.2rem;
  min-height: 150px;
  border-radius: 22px;
  resize: none;
  overflow-y: auto;
}

.input-container label {
  position: absolute;
  top: 50%;
  left: 15px;
  transform: translateY(-50%);
  padding: 0 0.4rem;
  color: #fafafa;
  font-size: 1.4rem;
  font-weight: 400;
  pointer-events: none;
  z-index: 1000;
  transition: 0.5s;
  font-family: 'poppins';
}

.input-container.textarea label {
  top: 1rem;
  transform: translateY(0);
}

.btn {
  padding: 0.6rem 1.3rem;
  background-color: #fff;
  border: 2px solid #fafafa;
  font-size: 1.4rem;
  color: #ea7dc7;
  line-height: 1;
  border-radius: 25px;
  outline: none;
  cursor: pointer;
  transition:all 0.3s ease-in;
  margin: 0;
  font-family: 'poppins';
}

.btn:hover {
  background-color: transparent;
  color: #fff;
}

.input-container span {
  position: absolute;
  top: 0;
  left: 25px;
  transform: translateY(-50%);
  font-size: 1rem;
  padding: 0 0.4rem;
  color: transparent;
  pointer-events: none;
  z-index: 500;
  font-family: 'poppins';
}

.input-container span:before,
.input-container span:after {
  content: "";
  position: absolute;
  width: 10%;
  opacity: 0;
  transition: 0.3s;
  height: 5px;
  background-color: #ea7dc7;
  top: 50%;
  transform: translateY(-50%);
}

.input-container span:before {
  left: 50%;
}

.input-container span:after {
  right: 50%;
}

.input-container.focus label {
  top: 0;
  transform: translateY(-50%);
  left: 25px;
  font-size: 0.8rem;
}

.input-container.focus span:before,
.input-container.focus span:after {
  width: 50%;
  opacity: 1;
}

.contact-info {
  padding: 2.3rem 2.2rem;
  position: relative;
}

.contact-info .title {
  color: #ea7dc7;
}

.text {
  color: #333;
  margin: 1.5rem 0 2rem 0;
  font-family: 'poppins';

}

.information {
  display: flex;
  color: rgb(54, 54, 54);
  margin: 0.7rem 0;
  align-items: center;
  font-size: 1.5rem;
  font-family: 'poppins';
}

.icon {
  width: 28px;
  margin-right: 0.7rem;
}

.social-media {
  padding: 2rem 0 0 0;
}

.social-media p {
  color: #333;
  font-family: 'poppins';
}

.social-icons {
  display: flex;
  margin-top: 0.5rem;
}

.social-icons a {
  width: 35px;
  height: 35px;
  border-radius: 5px;
  background: linear-gradient(45deg, #ea7dc7, #f79cda);
  color: #fff;
  text-align: center;
  line-height: 35px;
  margin-right: 0.5rem;
  transition: 0.3s;
}

.social-icons a:hover {
  transform: scale(1.05);
}

.contact-info:before {
  content: "";
  position: absolute;
  width: 110px;
  height: 100px;
  border: 22px solid #ea7dc7;
  border-radius: 50%;
  bottom: -77px;
  right: 50px;
  opacity: 0.3;
}

.big-circle {
  position: absolute;
  width: 500px;
  height: 500px;
  border-radius: 50%;
  background: linear-gradient(to bottom, #ea7dc7, #e46ebe);
  bottom: 50%;
  right: 50%;
  transform: translate(-40%, 38%);
}

.big-circle:after {
  content: "";
  position: absolute;
  width: 360px;
  height: 360px;
  background-color: #fafafa;
  border-radius: 50%;
  top: calc(50% - 180px);
  left: calc(50% - 180px);
}

.square {
  position: absolute;
  height: 400px;
  top: 50%;
  left: 50%;
  transform: translate(181%, 11%);
  opacity: 0.2;
}

@media (max-width: 850px) {
  .form {
    grid-template-columns: 1fr;
  }

  .contact-info:before {
    bottom: initial;
    top: -75px;
    right: 65px;
    transform: scale(0.95);
  }

  .contact-form:before {
    top: -13px;
    left: initial;
    right: 70px;
  }

  .square {
    transform: translate(140%, 43%);
    height: 350px;
  }

  .big-circle {
    bottom: 75%;
    transform: scale(0.9) translate(-40%, 30%);
    right: 50%;
  }

  .text {
    margin: 1rem 0 1.5rem 0;
  }

  .social-media {
    padding: 1.5rem 0 0 0;
  }
}

@media (max-width: 480px) {
  .container {
    padding: 1.5rem;
  }

  .contact-info:before {
    display: none;
  }

  .square,
  .big-circle {
    display: none;
  }

  form,
  .contact-info {
    padding: 1.7rem 1.6rem;
  }

  .text,
  .information,
  .social-media p {
    font-size: 1.4rem;
  }

  .title {
    font-size: 1.3rem;
  }

  .social-icons a {
    width: 30px;
    height: 30px;
    line-height: 30px;
  }

  .icon {
    width: 23px;
  }

  .input {
    padding: 0.45rem 1.2rem;
  }

  .btn {
    padding: 0.45rem 1.2rem;
  }
}
